fastcampus-flutter-firebase/android/app/google-services.json
fastcampus-flutter-firebase/android/app/google-services.json
fastcampus-flutter-firebase/lib/firebase_options.dart
fastcampus-flutter-firebase/ios/Runner/GoogleService-Info.plist
fastcampus-flutter-firebase/macos/Runner/GoogleService-Info.plist
fastcampus-flutter-firebase/ios/Runner/GoogleService-Info.plist
fastcampus-flutter-firebase/macos/Runner/GoogleService-Info.plist
fastcampus-flutter-firebase/firebase.json
fastcampus-flutter-firebase/macos/Runner/GoogleService-Info.plist
